<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>You want what when?</title>
  <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body ng-controller="MoneyCtrl">
  <div class="container">
    <form role="form">
      <div class="form-group">
        <label for="amount">You need how much</label>
        <input id="amount" type="text" ng-model="amount" ng-required="true" ng-pattern="/^[0-9]+([.][0-9]+)?$/" placeholder="Enter Amount" class="form-control"/>
      </div>

      <div class="form-group">
        <label for="when">By when</label>
        <input id="when" type="date" ng-model="when" ng-required="true" class="form-control"/>
      </div>

      <div class="form-group">
        <label>How often</label>
        <div class="radio">
          <label>
            <input type="radio" name="freqz" ng-model="freq" value="DAY">
            Every day
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="freqz" ng-model="freq" value="WEEK">
            Every week
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="freqz" ng-model="freq" value="FORTNIGHT">
            Every Fortnight
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="freqz" ng-model="freq" value="MONTH">
            Every Month
          </label>
        </div>
      </div>
      <input type="submit" ng-click="calculate()" class="btn btn-primary" />
    </form>
    <div ng-show="result">You need to save {{result | currency: '$'}}</div>
  </div>

  <script src="lib/angular.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
